<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iestacio.itrobot" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ITRobot</name>
    <description>
         Inspecció tècnica del robot Rogerbot
    </description>
    <author email="pedcremo@iestacio.com" href="http://pere.bocairent.net">
        Pere Crespo Molina
    </author>
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <icon src="icon.png" />
    <access origin="*" />
</widget>
